@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  color: #354358;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #dad299, #b0dab9);
}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
}
